ul.breadcrumb.row
  li 
    a(href="#") Каталог 
      span >
  li 
    a(href="#") Одежда 
      span >  
  li 
    a(href="#").active MANGO
  li.sorting 
    a(href="#") Сортировка
  li.custom-selects.row 
    button.title.row 
      | От дешевых к дорогим 
    ul.options
        li От дешевых к дорогим  
        li От дорогих к дешевым 
    img(src="img/icon/arrow.svg")  
