.custom-selects {
  .title{
    background: transparent;
    color: #464646;
    font-family: 'NotoSans-Bold', sans-serif;
    margin-left: .5em;
  }
  &.open .options{
    display: block;
  }
  .options{
    display: none;
    position: absolute;
    z-index: 1000;
    font-size: 1.2em;
    background: white;
    color: #383838;
    top: 1.65em;
    right: 0;
    border: 1px solid #ccc;
    border-top: none;
    li{
      align-items: center;
      padding: .5em;
      padding-left: 1.1em;
      cursor: pointer;
      &:hover{
        background: #e0e0e0;
        color: grey;
      }
    }
  }
}
