.breadcrumb{
  border-bottom: 1px solid #959595;
  padding-bottom: .5em;
  margin: 2em auto 1.5em;
  position: relative;

  a, li, button{
    font-family: 'NotoSans-Regular', sans-serif;
    color: #959595;
    font-size: .83em;
  }
  li{
    span{
      padding: 0 .2em;
    }
  }
  a.active{
    text-transform: uppercase;
    font-family: 'NotoSans-Bold', sans-serif;
  }
  .sorting{
    margin-left: auto;
  }
}
