section.banner.home__banner.row
	.container.banner__container
		h2.title Зарегистрируйтесь по электронной почте и получите
			span.sale  скидку 25%
		label.banner__label.row
			input(type='text' placeholder='Ваш E-mail')
			img(src='../../../../img/icon/telegram.svg').icon
		img(src='../../../../img/bannerImg.png').banner__img
