.home__banner{
  background: #F1F1F1;
  .title{
    font-family: 'NotoSans-Bold', sans-serif;
    color: #393939;
    font-size: .9em;
    text-align: center;
    margin-bottom: 1.5em;
    .sale{
      color: #BA0000;
    }
  }
  .banner__container{
    position: relative;
    padding: 5em 0;
  }
  .banner__img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 27%;
  }
  .banner__label{
    border-bottom: 1px solid #000;
    padding: .5em .5em .2em .5em;
    width: 25%;
    margin: 0 auto;
    input{
      background: transparent;
      border: none;
      font-size: .8em;
      width: 100%;
      font-family: 'NotoSans-Regular', sans-serif;
    }
    img{
      margin-left: auto;
    }
  }
}
