mixin commonHeader() 
  header.common__header(class!=attributes.class href=href)
    .container.row.common__header__container
      a(href="index.html").logo.row
        if (attributes.class == 'theme-white')
          img(src="img/logoBlack.png", alt="logo")
        else  
          img(src="img/logo.png", alt="logo")
      include ../menu/menu
      include ../search/search
      +search('Поиск')
      a(href="")
        include ../../../img/icon/heart.svg
      a(href="")
        include ../../../img/icon/cart.svg
      
  
    
