.common__header{
  background: rgba(16, 16, 16, .5);
  padding: .7em 0;
  position: relative;
  z-index: 2;
  font-size: .75em;
  &.theme-white{
    background: #F6F6F6;
    svg.icon__cart, svg.heart{
      path {
        fill: #1B1B1B;
      }
    }
  }
  .logo{
    width: 9%;
    align-items: center;
    img {
      width: 100%
    }
  }
  &__container{
    align-items: center;
  }
  .icon__cart, .heart{
    margin-left: 1.5em;
    font-size: 1.5em;
    path {
      fill: #fff;
    }
  }
}
