nav.menu__list.row 
  a(href="product.html") Одежда
  a(href="product.html") Обувь
  a(href="product.html") Аксессуары
  a(href="product.html") Спорт
  a(href="") Бренды
  a(href="product.html") Sale
