.menu__list{
  margin-left: 3em;
  align-items: center;
  a{
    font-family: 'NotoSans-Bold', sans-serif;
    color: #fff;
    margin-right: 2em;
    text-transform: uppercase;
  }
}
.theme-white{
  .menu__list a{
    font-family: 'NotoSans-Regular', sans-serif;
    color: #000;
    text-transform: capitalize;
  }
}
