.column.filters
  include filtersList/filtersList
  +filters__list("Категория", ["платья", "босоножки", "брюки", "балетки", "юбки", "сумки", "аксессуары", "дом", "новинки"])
  +filters__list("Дизайнер", ["Дизайнер 1", "Дизайнер 1", "Дизайнер 1", "Дизайнер 1", "Дизайнер 1", "Дизайнер 1", "Дизайнер 1", "Дизайнер 1", "Дизайнер 1", "Дизайнер 1", "Дизайнер 1", "Дизайнер 1", "Дизайнер 1"], "Дизайнер" )
  include priceSlider/priceSlider
  include filtersBlock/index
  +filters__blocks("Размер", ["XS", "S", "M", "L", "XL"])
  +filters__blocks("Высота каблука", ["3см", "5см", "7см", "12см", "14см"])
  include color/index
  include details/index
  
