.product-page .filters{
  flex: 1;
  margin-right: 2em;
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: .8em;
  &__header{
    align-items: center;
    margin-bottom: 1.5em;
    text-transform: capitalize;
    .icon{
      margin-left: auto;
      font-size: .7em;
    }
    &:hover{
      font-weight: bold;
      cursor: pointer;
    }
  }
}
.filter__block{
  max-height: 0;
  overflow: hidden;
  transition: all .6s;
}
.filters__header:hover{
  cursor: pointer;
}
.active .filter__block{
  max-height: 100em;
  overflow: visible;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
