include ../common/breadcrumb/breadcrumb
.row 
  include filters/index
  .products__continer.row
    include productMixin
    +product('productW', 'Кардиган MANGO', '760$')
    +product('productW1', 'Пальто MANGO', '2390$')
    +product('productW2', 'Брюки MANGO', '270$')
    +product('productW', 'Кардиган MANGO', '760$')
    +product('productW1', 'Пальто MANGO', '2390$')
    +product('productW2', 'Брюки MANGO', '270$')
    +product('productW', 'Кардиган MANGO', '760$')
    +product('productW1', 'Пальто MANGO', '2390$')
    +product('productW2', 'Брюки MANGO', '270$')
    +product('productW', 'Кардиган MANGO', '760$')
    +product('productW1', 'Пальто MANGO', '2390$')
    +product('productW2', 'Брюки MANGO', '270$')
    include pagination/index
        
