mixin product(img, title, price)
	a(href="card-product.html").product.column
		img(src="../../img/"+img+".png").product__img
		include ../../img/icon/heart.svg
		.wishList В избранное
		h3.title=title
		.row.price
			img(src="../../img/icon/cart.svg")
			span.price__title Купить
			span.price__nub=price
