.products__continer{
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-page .products__continer{
  flex: 5;
  .product{
    margin-bottom: 1em;
  }
}
.product{
  width: 32.6%;
  align-items: center;
  position: relative;
  font-size: .85em;
  &__img{
    width: 100%;
  }
  &__img:hover + .heart path{
    opacity: 1;
    fill: #C6C6C6;
  }
  .title{
    font-family: 'NotoSans-Regular', sans-serif;
    color: #737373;
    font-size: .9em;
    text-align: center;
    margin: 1em auto .5em;
  }
  .heart{
    position: absolute;
    top: 1em;
    left: 1em;
    path{
      opacity: 0;
      fill: #C6C6C6;
    }
    &.active path, &:hover path{
      opacity: 1;
      fill: #BA0000;
      cursor: pointer;
    }
  }
  .heart:hover + .wishList{
    opacity: 1;
  }
  .wishList{
    background: #fff;
    color: #BA0000;
    font-family: 'NotoSans-Regular', sans-serif;
    font-size: .9em;
    padding: .5em 3em;
    border-radius: 4px;
    box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -15%;
    top: -5%;
    transition: all .4s;
    opacity: 0;
  }
  .price{
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: .5em 1.5em;
    font-family: 'NotoSans-Bold', sans-serif;
    transition: all .4s;
    img{
      width: 1em;
      height: 1em;
      display: none;
      transition: all .4s;
    }
    &__title{
      padding: 0 1em;
      display: none;
      transition: all .4s;
    }
    &:hover{
      cursor: pointer;
      background: #EBEBEB;
      img, .price__title{
        display: block;
      }
      .price__nub{
        color: #BA0000;
        font-family: 'NotoSans-Regular', sans-serif;
      }
    }
  }
}
