section.brands
	h2.home-page_title Бренды
	- var imgs = ['image1', 'image2', 'image3', 'image4', 'image5', 'image1', 'image2', 'image3', 'image4', 'image5']
	.controlsContainer
		svg(width='10' height='15' type="button" fill='none' xmlns='http://www.w3.org/2000/svg').arrow.left
			path(d='M.545 2.973a.566.566 0 010-.803L2.027.687a.566.566 0 01.803 0l6.625 6.625a.566.566 0 010 .804L2.83 14.741a.566.566 0 01-.803 0L.545 13.26a.566.566 0 010-.804l4.74-4.74-4.74-4.742z' fill='#6F6F6F')
		svg(width='10' height='15' type="button" fill='none' xmlns='http://www.w3.org/2000/svg').arrow.right
			path(d='M.545 2.973a.566.566 0 010-.803L2.027.687a.566.566 0 01.803 0l6.625 6.625a.566.566 0 010 .804L2.83 14.741a.566.566 0 01-.803 0L.545 13.26a.566.566 0 010-.804l4.74-4.74-4.74-4.742z' fill='#6F6F6F')
		.container
			ul.brands__slider.row
				each img in imgs
					li.item.row
						img(src="../../../../img/" + img + ".png")