.brands{
  .container{
    overflow: hidden;
    margin-bottom: 10em;
    width: 60%;
  }
  .home-page_title{
    margin: 3em 0;
  }
  &__slider{
    .item{
      justify-content: center;
      align-items: center;
      border: 1px solid #E9E9E9;
      margin: 0 .25em;
    }
  }

}
.controlsContainer{
  position: relative;
  .arrow{
    position: absolute;
    bottom: 40%;
    &[aria-disabled="true"]{
      path{
        fill: #E5E5E5;
      }
    }
  }
  .left{
    left: 18%;
    transform: rotate(180deg);
  }
  .right{
    right: 18%;
  }
}
