doctype html
html(lang="ru")
  head
    title M Y B L
    link(rel='stylesheet' href='css/style.min.css')
    meta(name='viewport' content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
  body
    include common/topBar/topBar 
    include common/header/header 
    +commonHeader()
    main.card-product-page.container
      include pages/cardProduct/index
      include pages/cardProduct/gallerySlider/gallerySlider
    include common/bannerSale/bannerSale  
    include common/footer/footer 
  script(src="js/tinySlider.js")
  script(src="js/main.min.js")
