section.home__categories.row
	.categories__item.row
		img(src="../../../../img/categoriesMan.png")
		span.item__title man
		a(href="#").home__nav.link_to_collection.row К колекции
			img(src="../../../../img/icon/arrowLine.svg").icon
	.categories__item.row
		img(src="../../../../img/categoriesWoman.png")
		span.item__title woman
		nav.home__nav.row
			a.link обувь
			a.link Красота
			a.link Спорт
			a.link Аксесуары
			a.link Премиум
			a.link Дом
			a.link Одежда
			a.link_to_collection.row К колекции
				img(src="../../../../img/icon/arrowLine.svg").icon