.home__categories{
  .categories__item{
    flex: 1;
    position: relative;
    align-items: center;
    img{
      width: 100%;
    }
    .item__title{
      font-family: 'NotoSans-Bold', sans-serif;
      font-size: 5em;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .home__nav{
      background: rgba(0, 0, 0, 0.25);
      position: absolute;
      width: 100%;
      bottom: 0;
      align-items: center;
      padding: 0 0 0 2em;
      right: 0;
      .link{
        font-family: 'NotoSans-Regular', sans-serif;
        text-transform: capitalize;
        color: #fff;
        margin-right: 1.5em;
        font-size: .75em;
      }
      .link_to_collection{
        background: #D22020;
        margin: 0 0 0 auto;
      }
    }
    .link_to_collection{
      font-size: .7em;
      padding: 1em 2em;
      width: auto;
      color: #fff;
      text-transform: uppercase;
      align-items: center;
      font-family: 'NotoSans-Bold', sans-serif;
      img{
        width: 1em;
        height: .5em;
        margin-left: 2em;
      }
    }
  }
}
