include ../../common/breadcrumb/breadcrumb
.row.card-product
  .gallery.row
    - var n = 1;
    while n < 6
      img(src="img/card-product"+ n++ +".png") 
  .description 
    header.row 
      h1.title Пальто MANGO
      div.price 2390$
      h4.subTitle Дизайнер, бренд
    include ../../product/filters/color/mixinColor
    +colors(["E5E5E5", "BA0000", "265C2C"])
    include ../../product/filters/filtersBlock/index
    +filters__blocks(false, ["XS", "S", "M", "L", "XL"])
    .row.cart-wishList-wrapper
      button.cart В корзину
      button.row.wishList 
        img(src="img/icon/heart.svg")
    .accordion.filter-js    
      header.row.filters__header
        .title Доставка и возврат
        img(src="img/icon/arrow.svg").icon    
      .filter__block  
        h3 Доставка 
        p Курьером Новой Почты
        p Самовывоз из Новой Почты
        
        h3.return Возврат
        p Закон передбачає право покупця повернути товар належної якості, який не підійшов своєю формою, кольором та іншими індивідуальними характеристиками протягом 14 днів з дня, наступного за покупкою.
    .accordion.filter-js  
      header.row.filters__header
        .title Отзывы(0)
        img(src="img/icon/arrow.svg").icon  
        .filter__block
           
      
      
