.card-product{
  flex-wrap: wrap;
  margin: 3em auto;
  .gallery{
    flex: 5;
    flex-wrap: wrap;
    justify-content: space-between;
    img{
      width: 32.65%;
      margin-bottom: 1%;
    }
    img:nth-child(-n+2){
      width: 49.5%;
    }
  }
  .description{
    flex: 2;
    font-family: 'NotoSans-Regular', sans-serif;
    margin-left: 1em;
    header.row{
      flex-wrap: wrap;
      align-items: center;
      padding-top: .5em;
      .title{
        font-size: .9em;
      }
      .price{
        margin-left: auto;
        font-family: 'NotoSans-Bold', sans-serif;
        font-size: .9em;
      }
      .subTitle{
        width: 100%;
        margin-top: .3em;
        font-size: .65em;
        color: #B0B0B0;
      }
    }
    .filters__color{
      width: 60%;
      margin-top: 3em;
      max-height: 100em;
      overflow: visible;
    }
    .filters__blocks{
      font-size: .8em;
      justify-content: space-between;
      margin: 4em auto 4em 0;
      width: 85%;
      .block{
        width: 18%;
        margin-top: 0;
        padding: .3em 1em;
        &:last-child{
          margin: 0;
        }
      }
      .filter__block{
        max-height: 100em;
        overflow: visible;
      }
    }
    .cart-wishList-wrapper{
      margin-bottom: 2em;
    }
    .cart{
      border-radius: 4px;
      background: #101010;
      color: #fff;
      width: 100%;
      margin-right: .7em;
      font-family: 'NotoSans-Bold', sans-serif;
    }
    .wishList{
      background: #101010;
      padding: .8em;
      align-items: center;
      border-radius: 4px;
    }
    .accordion{
      .filters__header{
        color: #969696;
        font-size: .9em;
        border-bottom: 1px solid #E9E9E9;
        padding: 1em 0;
        margin-bottom: 1em;
        img{
          margin-left: auto;
        }
      }
      .filter__block{
        font-size: .8em;
        p{
          padding-left: 1em;
        }
        .return{
          margin-top: 2em;
        }
      }
    }
  }
}
