footer.common__footer.footer
	.container.footer__row.row
		ul.column.footer__list
			li
				a(href="#") О нас
			li
				a(href="#") Доставка и оплата
			li
				a(href="#") Политика безопасности
			li
				a(href="#") Условия соглашения
		ul.column.footer__list
			li
				a(href="#") Связаться с нами
			li
				a(href="#") Возврат товара
			li
				a(href="#") Карта сайта
		ul.column.footer__list
			li
				a(href="#") Связаться с нами
			li
				a(href="#") Возврат товара
			li
				a(href="#") Карта сайта
		ul.column.footer__contacts
			li
				include ../elements/tel/telLinck
			li.row.social-media
				include twiter.svg
				include facebook.svg
				include instagram.svg
	.common__footer__bar
		.container.row
			div MYBL © 2019. Все права защищены.
			img(src="../../../img/visa.png").visa
			img(src="../../../img/mastercard.png")