.common__footer{
  background: #222222;
  padding: 5em 0 0;
  font-family: 'NotoSans-Bold', sans-serif;
  font-size: .7em;
  .footer__row{
    justify-content: space-between;
  }
  li + li{
    margin-top: 1.5em;
  }
  a{
    color: #B8B8B8;
  }
  .tel{
    margin-left: .7em;
    font-family: 'NotoSans-Bold', sans-serif;
    font-size: .9em;
  }
  .social-media{
    margin-top: 2em;
    //font-size: 1.5em;
    svg{
      margin-right: 1.5em;
    }
  }
  &__bar{
    background: #fff;
    padding-top: .3em;
    margin-top: 5em;
    .row{
      align-items: center;
    }
    img{
      width: auto;
      height: 100%;
    }
    .visa{
      margin-left: auto;
      margin-right: 1em;
    }
  }
}
