.overlay{
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 10;
  position: fixed;
  // display: none;
  align-items: center;
  &.open{
    display: block;
  }
}
.tns-gallery{
  // display: none;
  &.open{
    display: block;
  }
}
.card-product-page{
  .container{
    overflow: hidden;
    position: relative;
    img{
      height: 100%;
    }
    .item{
      justify-content: center;
    }
  }
  .tns-gallery{
    height: 80vh;
  }
  .galleryControls{
    top: 50%;
    width: 100%;
    position: absolute;

    .arrow{
      position: absolute;
      width: 2em;
      height: 2em;
    }
    .left{
      left: 0;
    }
    .right{
      right: 0;
    }
  }
}
