section.categories.container__tns
	h2.home-page_title.categories__title Категории
	-var imgs = ['categoriesSlider', 'categoriesSlider1', 'categoriesSlider2', 'categoriesSlider3', 'categoriesSlider4', 'categoriesSlider5', 'categoriesSlider2', 'categoriesSlider3', 'categoriesSlider4']
	-var titles = ['Обувь', 'Одежда', 'Аксессуары', 'Спорт', 'Красота', 'Красота2', 'Обувь', 'Одежда', 'Аксессуары',]
	ul.categories__slider.row
		each img, indx in imgs
			li.item.column
				img(src="../../../../img/" + img + ".png")
				h3.title=titles[indx]
