.categories{
  &__title{
    margin-bottom: 3em;
  }
  &.container__tns{
    margin-bottom: 10em;
  }
  &__slider{
    .title{
      font-family: 'NotoSans-Regular', sans-serif;
      font-size: .9em;
      text-transform: uppercase;
      text-align: right;
      margin: 1em 1.5em 0 0;
    }
    .item{
      padding: 0 .2em;
      justify-content: flex-start;
    }
 }
}