.control {
  position: relative;
  padding-left: 2.5em;
  margin-bottom: 15px;
  cursor: pointer;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 1em;
  width: 1em;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #E9E9E9;
  box-sizing: content-box;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control {
  &:hover input ~ .control__indicator {
    background: #ccc;
  }
  input {
    &:checked ~ .control__indicator {
      background: #BA0000;
      border: 1px solid #BA0000;
    }
  }
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox {
  .control__indicator:after {
    left: .29em;
    top: .1em;
    width: 0.19em;
    height: 0.5em;
    border: solid #fff;
    border-width: 0 .17em .17em 0;
    transform: rotate(45deg);
  }
}
