mixin filters__list(title, list, inputPlaceholder)
  .filters__list.filter-js 
    header.filters__list_header.filters__header.row
      .title=title
      img(src="img/icon/arrow.svg").icon
    if (inputPlaceholder) 
      .filter__block
        include ../../../common/search/search  
        +search('Дизайнер')
        ul.list
          each item in list
            li.item
              a(href='#')
                label.row.control.control--checkbox
                  input(type='checkbox')
                  span=item
                  .control__indicator
    else 
      ul.list.filter__block
        each item in list
          li.item
            a(href='#')
              label.row.control.control--checkbox
                input(type='checkbox')
                span=item
                .control__indicator
                   
