.filters__list{
  .list{
    padding-left: 1.5em;
    overflow-y: scroll;
    height: 30em;
    &.filter__block{
      height: auto;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background: #BA0000;
    }
  }
  a{
    font-family: 'NotoSans-Regular', sans-serif;
    color: #6A6A6A;
    text-transform: capitalize;
  }
  .item{
    margin-bottom: 1.5em;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .search{
    width: 100%;
    background: transparent;
    color: #B0B0B0;
    border: 1px solid #B0B0B0;
    margin-bottom: 2em;
    input{
      padding: .5em 0 .5em 1em;
      color: #B0B0B0;
      &::placeholder{
        color: #B0B0B0;
      }
    }
   .icon{
     width: 1em;
     height: 1em;
     path{
       fill: #D1D1D1;
     }
   }
  }
}
