include ../../../product/productMixin
section.recommended
	h2.home-page_title Рекомендуем
	h3.recommended__title Одежда для нее
	ul.products__continer.row.container
		+product('productW', 'Кардиган MANGO', '760$')
		+product('productW1', 'Пальто MANGO', '2390$')
		+product('productW2', 'Брюки MANGO', '270$')
	h3.recommended__title Для него
	ul.products__continer.row.container
		+product('productM', 'Кардиган MANGO', '760$')
		+product('productM1', 'Пальто MANGO', '2390$')
		+product('productM2', 'Брюки MANGO', '270$')
