.recommended{
 background: #F8F8F8;
 padding: 0 0 2em;
 .home-page_title{
  padding: 2em 0 1em;
 }
 &__title{
  color: #737373;
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: .9em;
  text-align: center;
 }
 .products__continer{
  margin: 2em auto 4em;
 }
}
