mixin colors(colors = ["C4C4C4", "BA0000", "265C2C", "596AFF", "FFF732","596AFF", "C4C4C4", "975B5B", "414141","000", "FF8832", "1E3E45", "414141", "000", "FF8832", "1E3E45"]) 
  ul.filters__color.row.filter__block
    each color in colors
      li.item.color-js.filter-js(style="border-color:#"+color)
        div(style="background:#"+color).color__block    
