.filters__color{
  flex-wrap: wrap;
  margin-right: -5%;
  .item{
    width: 11.6%;
    height: auto;
    margin: 0 5% 5% 0;
    &:hover{
      cursor: pointer;
    }
    .color__block{
      padding-top: 100%;
      width: 100%;
    }
    &.active{
      padding: .1em;
      border-width: 1px;
      border-style: solid;
    }
  }
}
