.pagination.row
  button.back.btn.row(disable)
    include ../../../img/icon/arrow.svg
    h4 Назад
  .pagination__page 1 из 4
  button.next.btn.row
    h4 Дальше  
    include ../../../img/icon/arrow.svg
