.pagination{
  width: 100%;
  justify-content: space-between;
  font-family: 'NotoSans-Bold', sans-serif;
  margin: 4em 0 6em;
  font-size: .8em;
   .icon{
     font-size: .8em;
   }
   .btn{
     background: none;
     align-items: center;
     font-family: 'NotoSans-Bold', sans-serif;
    &[disable]{
      font-family: 'NotoSans-Regular', sans-serif;
      color: #B0B0B0;
      path{
        stroke:#B0B0B0;
      }
    }
    &.back .icon{
       transform: rotate(90deg);
       margin-right: .5em;
     }
     &.next .icon{
        transform: rotate(-90deg);
        margin-left: .5em;
      }
   }
}
