.topBar{
  background-color: #000;
  color: #BEBEBE;
  font-family: 'NotoSans-Regular', sans-serif;
  position: relative;
  z-index: 2;
  .container{
    font-size: .7em;
    padding: .5em 0;
    justify-content: space-between;
  }
  .row{
    align-items: center;
  }
  &__categories{
    li{
      padding: 0 1em;
    }
    li:first-child{
      border-right: 1px solid #393939;
    }
  }
  .icon{
    width: 1em;
    height: 1em;
    &__tel{
      margin-right: .5em;
    }
    &__user{
      margin-left: .5em;
    }
  }
}
