.topBar
  .container.row
    include ../elements/tel/telLinck
    ul.row.topBar__categories
      li Мужчинам
      li Женщинам
    .row  
      span Войти
      img(src="img/icon/user.svg", alt="").icon.icon__user   
      
