.filter__price.filter-js 
  .filters__header.row
    .title Цена
    img(src="img/icon/arrow.svg").icon
  .filter__block  
    .row.priceSliderValue
      #value.valueLeftText 0грн
      #value.valueRightText 60грн
    #slider-distance(slider='').priceSlider
       div.wrapper
         div(inverse-left='', style='width:70%;').greyLeft
         div(inverse-right='', style='width:70%;').greyRight
         div(range='', style='left:0%;right:40%;').range
         span(thumb='', style='left:0%;').thumbLeft
         span(thumb='', style='left:60%;').thumbRight
       input(type='range', tabindex='0', value='0', max='100', min='0', step='1' data-min).input__slider
       input(type='range', tabindex='0', value='60', max='100', min='0', step='1').input__slider
