$height:.3em;

.filter__price{
  font-family: 'NotoSans-Regular', sans-serif;
  color: #505050;
  .valueLeftText, .valueRightText{
    border: 1px solid #E4E4E4;
    padding: .8em 0;
    flex: 1;
    border-radius: 5px;
    text-align: center;
  }
  .valueRightText{
    margin-left: 8%;
  }
  .priceSlider{
    position: relative;
    height: 14px;
    border-radius: 10px;
    text-align: left;
    margin-top: 2em;
    .wrapper{
        width: 95%;
        position: absolute;
        right: 0;
    }
    .greyLeft, .greyRight{
      position: absolute;
      height: $height;
      border-radius: 10px;
      background-color: #F5F5F5;
    }
    .greyLeft{
      left: 0;
    }
    .greyRight{
      right: 0;
    }
    .range{
      position: absolute;
      left: 0;
      height: $height;
      background-color: #BA0000;
    }
    .thumbLeft, .thumbRight{
      position: absolute;
      top: -.4em;
      z-index: 2;
      height: 1.1em;
      width: 1.1em;
      text-align: left;
      margin-left: -.5em;
      cursor: pointer;
      background-color: #BA0000;
      border-radius: 50%;
      outline: none;
    }
  }
}
[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}
