@mixin fontsMix($name, $folderName){
  $filepath: "../fonts/" + $folderName + "/" + $name;
  @font-face {
      font-family: $name;
      font-weight: 400;
      font-style: normal;
      src: url($filepath + ".eot");
      src: url($filepath + ".eot?#iefix") format("embedded-opentype"), url($filepath +".woff") format("woff"), url($filepath + ".ttf") format("truetype");
  }
}

@include fontsMix('Ubuntu-LightItalic', 'UbuntuLightItalic');
@include fontsMix('NotoSans-Regular', 'NotoSans-Regular');
@include fontsMix('NotoSans-Bold', 'NotoSans-Bold');
