@import "_fonts.scss";
// @import "_animate.scss";

*{
  box-sizing: border-box;
  outline: none;
}

body{
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-size: 1vw;
  @media(max-aspect-ratio: 3/3), (max-height: 500px){
    font-size: 4vw;
  }
}

button{
  border: none;
  outline: none;
  cursor: pointer;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a{
  color: #000;
  text-decoration: none;
  &:hover{
    cursor: pointer;
  }
}
.icon{
  width: 1em;
  height: 1em;
}
.row-to-column{
  display: flex;
  flex-direction: row;
  @media(max-aspect-ratio: 3/3), (max-height: 500px){
    flex-direction: column;
  }
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.container{
  width: 65%;
  margin: 0 auto;
  @media(max-aspect-ratio: 3/3), (max-height: 500px){
    width: 90%;
  }
}

.tns-liveregion.tns-visually-hidden{
  display: none;
}
