section.home__header.row
	img(src="../../../img/bkgHome.png")
	img(src="../../../img/logo.png").logo
	.column.container
		a.link.row Осень-зима 2019-2020
			img(src="../../../img/icon/arrowLine.svg")
		span.des Подборка от MYBL