.home__header{
  position: relative;
  z-index: 1;
  margin-top: -4.2em;
  max-height: 100vh;
  overflow: hidden;
  align-items: center;
  img{
    width: 100%;
  }
  .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15%;
    transform: translate(-50%, -50%);
  }
  .container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5em;
    align-items: center;
    font-size: .85em;
    .des{
      color: #fff;
      font-family: 'NotoSans-Regular', sans-serif;
      margin-top: 1em;
    }
    .link {
      padding: .5em 1.5em;
      background: #000;
      color: #fff;
      align-items: center;
      font-family: 'NotoSans-Bold', sans-serif;
      border-radius: 4px;
      text-transform: uppercase;
      img{
        width: 1em;
        height: .5em;
        margin-left: 1em;
      }
    }
  }
}
