.search{
  background: #800000;
  border-radius: 4px;
  align-items: center;
  padding: 0 .5em 0 0;
  width: 21%;
  margin-left: auto;
  font-size: 1.2em;
  input{
    background: transparent;
    border: none;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    padding: .7em 0 .7em 1em;
    color: #fff;
    font-family: 'NotoSans-Regular', sans-serif;
    font-size: .8em;
    outline: none;
    &::placeholder{
      color: #fff;
    }
  }
  .icon{
    width: .8em;
    height: .8em;
    margin-right: 0;
  }
}
.theme-white{
  .search{
    background: #fff;
    input, input::placeholder{
      color: #222222;
    }
    .icon path{
      fill: #222222;
    }
  }
}
