mixin filters__blocks(title, blocks)
  .filters__blocks.filter-js
    if !!title
        header.filters__header.row
          .title=title
          img(src="img/icon/arrow.svg").icon
    ul.row.filter__block
      each item in blocks
        li.block.block-js.filter-js=item
        
