.filters__blocks{
  .filter__block{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .block{
    padding: .5em 1em;
    text-align: center;
    border: 1px solid #EBEBEB;
    width: 31%;
    margin-top: 3%;
    &:last-child{
      margin: 3% auto 0 3%;
    }
    &.active{
      border: 1px solid #BA0000;
      color: #BA0000;
    }
    &:hover{
      cursor: pointer;
    }
  }
}
